
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  font-family: sans-serif;
  color: white;
  width: 100%;
  min-height: 100vh;
  /* overflow: hidden; */
  /* font-size: 14px; */
}
section {
  height: 100%;
  width: 90%;
  /* display: flex;
  flex-flow:column; */
  margin-left: 5%;
  /* margin-right: 5%; */
  overflow: hidden;
  background-image: url("https://insights.emeritus.org/02423465a21727c3537b7358ccffcc77.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width:1220px){
  section {
    background-size: cover;
  }
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.navbar {
  background-color: black;
  box-sizing: border-box;
  overflow: none;
  position: fixed;
  /* top: 0; */
  width: 95%;
}

nav {
  display: flex;
  justify-content:space-between;
  padding-bottom: 15px;
  padding-top: 15px;
  /* top: 0; */
  margin-right: 9%;
  position: relative;
}
@media screen and (max-width:360px){
  nav{
    /* max-width: 30%; */
    margin-right: 10%;
    margin-left: -3%;
  }
}

@media screen and (max-width:690px){
  section {
    display: none;
  }
}

.first {
  margin-bottom: 5%;
  margin-top: 5%;
  font-weight: normal;
  font-size: 25px;
}
@media screen and (max-width:1220px){
  .first {
    font-size: 10px;
    margin-top: 15%;
  }
}
.second {
  margin-bottom: 5%;
  margin-right: 5%;
  font-size: 18px;
  font-weight: lighter;
}
@media screen and (max-width:1220px){
  .second {
    font-size: 10px;
  }
}

.btn {
  margin-bottom: 15%;
}

button {
  background-color: #fff;
  border: none;
  color: black;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 2px 4px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: green;
}
@media screen and (max-width:1220px){
  button{
  font-size: 10px;
  padding: 10px 20px;

  }
}
/* @media screen and (max-width:680px){
  .navbar{
    display:none;
  }
} */


@media screen and (max-width:680px){
  section{
    /* max-width: 30%; */
    margin-right: 10%;
    margin-left: -3%;
  }
}

@media (max-width: 415px){
   .boxes {
     display:flex;
     position: relative;
     top:70px;
     justify-content: center;
   }
   .box-row{
    display: flex;
    margin-left: 32px;
    justify-content: center;
    align-items: center;
   }
   
  .mobileNavbar {
    background-color: black;
    padding-left:15px;
  }

  .mobile{
    width: 100%;
    background-image: url("https://insights.emeritus.org/6b8347e3a6dabbef1f2abb5850701bb5.png");
    background-size: contain;
 }
  .mobile > .middle{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 70vw;
    position:relative;
    left: 49px;
    top: 144px;
  }

  .middle > .first {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }

  footer {
    margin-top: 20px;
  }
     }

.tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 2% 0; */
  margin-top: 4%;
  /* background-color: green; */
}
@media screen and (max-width:1220px){
  .tagline{
  overflow: wrap;
  margin:3% 5% ;
  text-align: center;
  position:relative;
  top:100px;
  }
}

.boxes .box {
  width: 95%;
  margin: 50px;
  display: table;
  justify-content: center;
  align-items: center;
}
.boxes .box .box-row {
  display: table-row;
}
.boxes .box .box-cell {
  display: table-cell;
  width: 33%;
  padding: 10px;
}
.boxes .box .box-cell.box1 {
  /*                 background:green;  */
  color: white;
  justify-content: center;
  align-items: center;
}
.boxes .box .box-cell.box2 {
  justify-content: center;
  align-items: center;
}
.boxes .box .box-cell.box3 {
  justify-content: center;
  align-items: center;
}
.h4 {
  font-size: 20px;
}

#boxdiv {
  margin: 20px 0;
}

#rectangle {
  /* color: green; */
  width: 30%;
  position: relative;
  left: 33.33%;
  border: 3px solid #00be6d;
  margin-top: 10%;
}

@media screen and (max-width:1220px){
  #recatangle{
    /* width:100%; */
    margin-right: -50%;
    margin-top: 5%;
  }
}

@media screen and (max-width:1220px){
  .boxes .box .box-row{
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
}


@media screen and (max-width:1220px){
  .boxes .box .box-cell{
    width:100%;
    justify-content:center;
    align-items: center;
    margin-top: 5%;
  }
}


.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
li {
  text-align: left;
}
.footer {
  background-color: #383838;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: green;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #000;
  background-color: green;
}

.hr {
  /* max-width: 90%; */
  display: flex;
  flex-direction: column;
  margin: 2% 10%;
}
.last {
  margin: 0 10%;
  color: #707070;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .last > h3 {
  margin-top: 2%;
} */

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 90%;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1536px) and (min-width: 690px) {
  .mobile {
    display:none;
  }
}

